<h1>コメント一覧</h1>

<%= form_with url: admin_comments_path, method: :get do |f| %>
  <%= f.search_field :keyword, value: params[:keyword] %>
  <%= f.submit %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>コメント内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.content %></td>
        <td><%= link_to "削除", admin_comment_path(comment), method: :delete,  data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
